	<ion-view view-title="User Detail" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-user_singles" class="page-user_singles">
		
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="list ">
					<div class="item"><span class="subdued" >Full Name{{user.name}}</span></div>
					<div class="item"><span class="subdued" >Email{{user.email}}</span></div>
			</div>
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
