	<ion-view view-title="Mantra Jaap" hide-nav-bar="false">
		<!-- content -->
		<ion-content delegate-handle="top" id="page-mantra_jap" class="page-mantra_jap">
		
	<div class="slide-box-hero" style="height:100%">
		<ion-slides class="slide-box-hero-content" slider="sliderDelegate" options="options" slider="data.slider" ng-init="n=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109]" does-continue="true" delegate-handle="true" >
			<ion-slide-page ng-repeat="x in n">
				
			<img ng-src="data/images/background/rudrkash.png" class="rudrkash_img"  />
        	<p style="text-align: center; font-weight: bold; color:#F95427; font-size: 32px">{{ $index }}</p>
            <p style="text-align: center; font-weight: bold; color:#000; font-size:32px; top:-50px;">{{ counter }}</p>
			</ion-slide-page>

			
		
		</ion-slides>
	</div>
		</ion-content>
		<!-- ./content -->
    <style>
  .slide-box-hero .slide-box-hero-content .rudrkash_img{    
    max-width: 100%;
    height: auto;
    width: 40%;
    background: none;
    background-size: cover;
    margin: 30%;
    margin-top: 60%;}
  .slide-box-hero .slide-box-hero-content{background:url('data/images/background/mantra_jap.jpg');}
</style>

	</ion-view>

  
