	<ion-view view-title="Order Form" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-form_order_form" class="has-header page-form_order_form">
		
		<div class="list list"  >
			<form ng-submit="submitOrder_form()">

			<!-- input firstname -->
			<label class="item item-input item-floating-label">
				<span class="input-label">Name</span>
				<input type="text" ng-model="form_order_form.firstname" name="firstname" placeholder="Enter Name" ng-required="true"/>
			</label>
			<!-- ./input firstname -->

			<!-- input email -->
			<label class="item item-input item-floating-label">
				<span class="input-label">Email</span>
				<input type="email" ng-model="form_order_form.email" name="email" placeholder="Enter Email" ng-required="true"/>
			</label>
			<!-- ./input email -->

			<!-- input phone -->
			<label class="item item-input item-floating-label">
				<span class="input-label">Mobile</span>
				<input type="number" ng-model="form_order_form.phone" name="phone" placeholder="Enter Mobile" ng-required="true"/>
			</label>
			<!-- ./input phone -->

			<!-- input address1 -->
			<label class="item item-input item-floating-label">
				<span class="input-label">Address</span>
				<input type="text" ng-model="form_order_form.address1" name="address1" placeholder="Enter Address details" ng-required="true"/>
			</label>
			<!-- ./input address1 -->

			<!-- input city -->
			<label class="item item-input item-select noborder" ng-init="form_order_form.city='Select City'">
				<span class="input-label">City</span>
				<select ng-model="form_order_form.city" name="city" >
					<option value="Select City">Select City</option>
					<option value="Jaipur">Jaipur</option>
					<option value="Jodhpur">Jodhpur</option>
					<option value="Kota">Kota</option>
					<option value="Bikaner">Bikaner</option>
					<option value="Ajmer">Ajmer</option>
					<option value="Udaipur">Udaipur</option>
					<option value="Bhilwara">Bhilwara</option>
					<option value="Alwar">Alwar</option>
					<option value="Bharatpur">Bharatpur</option>
					<option value="Sikar">Sikar</option>
					<option value="Sri Ganganagar">Sri Ganganagar</option>
					<option value="Pali">Pali</option>
					<option value="Chittorgarh">Chittorgarh</option>
					<option value="Tonk">Tonk</option>
					<option value="Kishangarh">Kishangarh</option>
					<option value="Beawar">Beawar</option>
					<option value="Hanumangarh">Hanumangarh</option>
					<option value="Dholpur">Dholpur</option>
					<option value="Gangapur city">Gangapur city</option>
					<option value="Sawai Madhopur">Sawai Madhopur</option>
					<option value="Churu">Churu</option>
					<option value="Jhunjhunu">Jhunjhunu</option>
				</select>
			</label>
			<!-- ./input city -->

			<!-- input payment_category -->
			<label class="item item-input item-select noborder" ng-init="form_order_form.payment_category='Select Category'">
				<span class="input-label">Payment Category</span>
				<select ng-model="form_order_form.payment_category" name="payment_category" >
					<option value="Select Category">Select Category</option>
					<option value="eShop">eShop</option>
					<option value="Tour">Tour</option>
					<option value="Hotel">Hotel</option>
					<option value="Cab">Cab</option>
					<option value="Pandit">Pandit</option>
				</select>
			</label>
			<!-- ./input payment_category -->

			<!-- input amount -->
			<input type="hidden" ng-value="" ng-init="form_order_form.amount=''" ng-model="form_order_form.amount" name="amount" />
			<!-- ./input amount -->

			<!-- input productinfo -->
			<input type="hidden" ng-value="" ng-init="form_order_form.productinfo=''" ng-model="form_order_form.productinfo" name="productinfo" />
			<!-- ./input productinfo -->

			<!-- input surl -->
			<input type="hidden" ng-value="" ng-init="form_order_form.surl=''" ng-model="form_order_form.surl" name="surl" />
			<!-- ./input surl -->

			<!-- input furl -->
			<input type="hidden" ng-value="" ng-init="form_order_form.furl=''" ng-model="form_order_form.furl" name="furl" />
			<!-- ./input furl -->

			<!-- input service_provider -->
			<input type="hidden" ng-value="payu_paisa" ng-init="form_order_form.service_provider='payu_paisa'" ng-model="form_order_form.service_provider" name="service_provider" />
			<!-- ./input service_provider -->

			<!-- input key -->
			<input type="hidden" ng-value="CsIYD2wj" ng-init="form_order_form.key='CsIYD2wj'" ng-model="form_order_form.key" name="key" />
			<!-- ./input key -->

			<!-- input submit -->
			<div class="item item-button noborder">
				<button class="button button-assertive ink">Place Order</button>
			</div>
			<!-- ./input submit -->
			</form>
		</div>
		<br/><br/><br/><br/>
		</ion-content>
		<!-- ./content -->
	</ion-view>
