	<ion-view view-title="{{ galleries.name }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll scroll="true"   id="page-galleries_singles" class="page-galleries_singles">
					<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="list ">
					
		<img class="full-image" image-lazy-loader="lines" image-lazy-src="{{galleries.image}}"   zoom-view="true" zoom-src="{{galleries.image}}" style="background-size:cover;"/>
					
			</div>
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
