	<ion-view view-title="{{ livedarshan.name }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-livedarshan_singles" class="page-livedarshan_singles">
		
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="list ">
					<div class="item item-divider"  ng-bind-html="livedarshan.name | to_trusted">{{livedarshan.name}}</div>
					<div class="item noborder"><img class="full-image" image-lazy-loader="lines" image-lazy-src="{{livedarshan.image}}"   zoom-view="true" zoom-src="{{livedarshan.image}}"/></div>
			</div>
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
