	<ion-view view-title="{{ packages.title }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-packages_singles" class="page-packages_singles">
					<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<br/><br/><br/><br/>
			<div class="hero slide-up energized-900-bg">
				<div class="padding-horizontal padding-bottom content content">
				<img src="{{packages.image1}}" style="width:100%; background-size: cover;" >
				</div>
			</div>
			
			<div class="tabs tabs-light tabs-icon-top static">
				<a ng-click="$ionicGoBack()" class="tab-item">
					<i class="icon ion-ios-albums-outline"></i> List
				</a>
				<a class="tab-item tab-item-active active">
					<i class="icon ion-ios-list-outline"></i> Detail
				</a>
				</div>
			<div class="list card">
					<div class="item item-divider"  ng-bind-html="packages.title | to_trusted">{{packages.title}}</div>

					<div class="item item-text-wrap noborder to_trusted" ng-bind-html="packages.description | strHTML"></div>
					<div class="item"><span class="subdued" >Price{{packages.price}}</span></div>
					<div class="item noborder text-right"><rating ng-model="packages.rating" max="rating.max"></rating></div>
					<div class="item"><span class="subdued" >Contact{{packages.contact}}</span></div>
			</div>
			<div class="list">
				
				<a class="button button-full button-assertive ink" style="opacity: 1.0" run-webview ng-href="http://salasarbalaji.org/mbook/{{packages.id}}/packages" target="_self"> <i class="icon ion-android-add-circle"></i> Book Now</a>
				
			</div>
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
