	<ion-view view-title="Albums" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-albums" class=" page-albums">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code listing -->
			<div class="list row" ng-repeat="rows in chunked_albumss " >
				<div class="col card" ng-repeat="item in rows">
					<a class="item gallery ink button button-positive" ng-href="#/salasar/gallery/{{item.id}}">
						<span ng-bind-html="item.name | to_trusted"></span>
					</a>
					<a class="item item-image ink" ng-href="#/salasar/gallery/{{item.id}}">
						<img alt="" class="ratio1x1" image-lazy-loader="lines" image-lazy-src="{{item.image}}" />
					</a>
				</div>
			</div>
			<!-- ./code listing -->
			



		</ion-content>
		<!-- ./content -->
	</ion-view>
