	<ion-view view-title="Privacy Policy" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-privacy_policy" class=" page-privacy_policy">
		
<div class="padding scroll">

    <div class="padding privacy_policy-box">
        <h2></h2>
        <div>
            <p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: bold; font-family: latoblack;">Price Range</span></p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">At Salasar Balaji (Balaji Computers) we have customised pricing according to the services rendered by us. The details are provided to you beforehand according to the effort, efficiency and the output of the service. Typically the range of transactions on our website varies from&nbsp; INR&nbsp; Rs.11 to Rs.100000.</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: bold; font-family: latoblack;">Schedule of payment</span></p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">Some of our services can be utilised for fixed durations. In such cases, it is clearly mentioned within the description of these services. The period of usage in these cases vary from 1 month to 1 year.</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: bold; font-family: latoblack;">Price Matching</span></p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">At Salasar Balaji (Balaji Computers) we are committed to offering you the best possible prices. We will be glad to meet our competitor's pricing if you ever find an item that we offer, in the same color and size, available from a similar retailer.</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">We are unable to match prices from auction and outlet stores or websites, as well as other retailers' discount promotions, shipping offers and gift card offers.</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: bold; font-family: latoblack;">Sale Adjustment</span></p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">If an item you have purchased is reduced in price within two weeks of your order date, we will happily adjust the sale price for you. Please note that we can only make one sale adjustment per item and designer goods originally purchased on sale are excluded.</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: bold; font-family: latoblack;">Pricing Errors</span></p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">We work hard to ensure the accuracy of pricing. Despite our efforts, pricing errors may still occur. If an item's price is higher than the price displayed, we will cancel your order of that item and notify you of the cancellation.</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: bold; font-family: latoblack;">Shopping Cart</span></p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">Items in your Shopping Cart reflect the current price displayed on the item's product details page. Please note: This price may differ from the price displayed when the item was first placed in your Shopping Cart.</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">Our merchandise/service is offered for sale by Salasar Balaji (Balaji Computers) for your personal enjoyment and not for resale. Therefore, we reserve the right to refuse to sell to any person whom we believe may be purchasing for resale.</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">Our Customer Service Specialists are ready to assist you&mdash;simply call&nbsp;<span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: bold; font-family: latoblack;">9828096110</span>&nbsp;and&nbsp;<span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: bold; font-family: latoblack;">24X7</span>&nbsp;hours a day.</p>
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior privacy_policy-box">
     
      <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/profile.php?id=100018997486314')" >
        <i class="positive icon ion-social-facebook"></i>
        Like Us on Facebook
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('https://plus.google.com/u/0/100414508999914568835')" >
        <i class="assertive icon ion-social-googleplus"></i>
        Join us on Google+
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('https://twitter.com/salasarbalazee')" >
        <i class="calm icon ion-social-twitter"></i>
       Follow me on Twitter
      </a>
      
       <a class="item item-icon-left" ng-click="openURL('mail://drpinfosoft@gmail.com')" >
        <i class="icon ion-android-mail royal"></i>
        For Business Cooperation
        <p>
            Email: drpinfosoft@gmail.com
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
