	<ion-view view-title="Contact" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-contact" class="page-contact">
		
<div class="padding">
  <div >
    <h4>Contact</h4>
    <p>It's Work<br/>You can create a table or edit this page</p>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
