	<ion-view view-title="Contact Us" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-contact_us" class=" page-contact_us">
		    <div class="list card">
        <div class="item item-text-wrap">
          <h2 >ADDRESS</h2>
<br/>
          <h3>Salasar Balaji</h3><br/>
          <p>Address: Opp SBM Hotel Mandir Road,<br/> Salasar , Rajasthan, 331506, India</p>
<p>Email : info@salasarbalaji.org,<br/> help@salasarbalaji.org</p>
<p>Website: &nbsp;http://salasarbalaji.org</p></div>
      <br/><br/>
    </div>   
		</ion-content>
		<!-- ./content -->
	</ion-view>
