	<ion-view view-title="Cab Services" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-cabs" class=" page-cabs">
					<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			<div class="slide-box-hero">
			<ion-slides class="slide-box-hero-content" options="{slidesPerView:1}">
			<ion-slide-page>
				<img ng-src="data/images/background/shuttle.jpg" class="" />
			</ion-slide-page>
		    </ion-slides>
			</div>
			<!-- code listing -->
			<div class="animate-ripple">
				<div class="list card" ng-repeat="item in cabss | filter:filter_cabss as results" ng-init="$last ? fireEvent() : null" >
				<a class="item item-avatar" ng-href="#/salasar/cabs_singles/{{item.id}}">
								<img alt="" image-lazy-loader="lines" image-lazy-src="{{item.image}}" />
							<h2  ng-bind-html="item.name | to_trusted"></h2>
                  <h4 ng-bind-html="item.type | to_trusted"></h4>
                  <p>Fare : {{ item.fare }} /Per Km.</p>
				</a>
				</div>
			</div>
			<!-- ./code listing -->


			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>No results found...!</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
