	<ion-view view-title="Hotels" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-hotels" class=" page-hotels">
		<div style="height:44px;"></div>
		
			<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code search -->
			<ion-list class="list" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_hotelss" placeholder="Search" aria-label="filter hotelss" />
				</div>
			</ion-list>
			<!-- ./code search -->


			<!-- code listing -->
			<div class="list animate-blinds">
				<a class="item item-thumbnail-left item-text-wrap" ng-repeat="item in hotelss | filter: first_param | filter:filter_hotelss as results" ng-init="$last ? fireEvent() : null" href="#/salasar/hotels_singles/{{item.id}}">
					<img alt="" class="full-image " image-lazy-loader="lines" image-lazy-src="{{item.image1}}"   />
					<h3 class=""  ng-bind-html="item.name | to_trusted"></h3>
						<p >
						Price  Rs{{item.price}}
						</p>
				</a>
			</div>
			<!-- ./code listing -->


			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>No results found...!</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
