	<ion-view view-title="Gallery" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll scroll="true"  overflow-scroll="true"   id="page-gallery" class="fullscreen page-gallery">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			<!-- code listing -->
			<ion-slide-box show-pager="true" auto-play="true" pager-click="true" >
					<ion-slide ng-repeat="item in galleriess | filter: first_param | limitTo : 5:0" style="background: #999  url('{{item.image}}')  no-repeat center center fixed;;background-size:cover;width:100%;height:100%;background-color:#ddd;" >
					</ion-slide>
			</ion-slide-box>
			<!-- ./code listing -->
		</ion-content>
		<!-- ./content -->
	</ion-view>
