	<ion-view view-title="Daily Schedule" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-daily_schedule" class=" page-daily_schedule">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code search -->
			<ion-list class="card list" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_articless" placeholder="Search" aria-label="filter articless" />
				</div>
			</ion-list>
			<!-- ./code search -->

			<!-- code listing -->
			<div class="list animate-none">
				<div class="" ng-repeat="item in articless | filter:filter_articless as results" ng-init="$last ? fireEvent() : null" >
					<div class="card light-bg  ink ink-dark">
						<a class="item item-avatar item-text-wrap" ng-href="#/salasar/articles_singles/{{item.id}}" >
							<img alt="" class="avatar" image-lazy-loader="lines" image-lazy-src="{{item.image}}" />
							<h2  ng-bind-html="item.title | to_trusted"></h2>
						</a>
					</div>
				</div>
			</div>
			<!-- ./code listing -->


			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>No results found...!</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
