	<ion-view view-title="{{ cabs.name }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-cabs_singles" class="page-cabs_singles">
					<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="list ">
					
					
					<div class="item noborder"><img class="full-image" image-lazy-loader="lines" image-lazy-src="{{cabs.image}}"   zoom-view="true" zoom-src="{{cabs.image}}"/></div>
					<div class="item item-divider"  ng-bind-html="cabs.name | to_trusted">{{cabs.name}}</div>		
              		<div class="item item-divider" >Cab Type: {{cabs.type}}</div>
					<div class="item item-divider" >Fare : {{cabs.fare}}/ Per Km.</div>
              <div class="item" ng-bind-html="cabs.route_details | to_trusted"></div>
					
			</div>
			<div class="list">
				<a class="button button-full button-assertive ink" style="opacity: 1.0" run-webview ng-href="http://salasarbalaji.org/mbook/{{cabs.id}}/cab" target="_self"> <i class="icon ion-android-add-circle"></i> Book Now</a>

			</div>
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
