	<ion-view view-title="{{ hotels.name }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll scroll="true"   id="page-hotels_singles" class="page-hotels_singles">
					<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="hero slide-up energized-900-bg" style="background-image: url('{{hotels.image1}}');">
				<div class="padding-horizontal padding-bottom content content">
					
					<img src="{{hotels.image1}}" style="width:100%; background-size: cover;" >
				</div>
			</div>
			<div class="list ">
					<div class="item item-divider"  ng-bind-html="hotels.name | to_trusted">{{hotels.name}}</div>
					<div class="item item-text-wrap noborder to_trusted" ng-bind-html="hotels.description | strHTML"></div>
					<div class="item"><span class="subdued" >Price  Rs{{hotels.price}}</span></div>
					<div class="item noborder text-right"><rating ng-model="hotels.rating" max="rating.max"></rating></div>
					<div class="item noborder"><div ng-if="mapEnable" class="embed_container" data-tap-disabled="true"><ng-map zoom="12" width="100%" center="{{hotels.address}}"></ng-map></div></div>
					<div class="item"><span class="subdued" >Contact: {{hotels.contact}}</span></div>
					<div class="item"><span class="subdued" >Email Id: {{hotels.email}}</span></div>
			</div>
			<div class="list">

				<a class="button button-full button-assertive ink" style="opacity: 1.0" run-webview ng-href="http://salasarbalaji.org/mbook/{{hotels.id}}/hotels" target="_self"> <i class="icon ion-android-add-circle"></i> Book Now</a>

			</div>
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
