	<ion-view view-title="{{ products.name.replace('http://salasarbalaji.org/public/', '') }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll scroll="true"   id="page-products_singles" class="page-products_singles">
					<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>

			<div class="hero slide-up energized-900-bg" style="background-image: url('{{products.image}}');background-size:100% 100%;">
				<div class="padding-horizontal padding-bottom content content">
					
					<h3><a class="light">{{ products.name.replace('http://salasarbalaji.org/public/', '') }}</a></h3>
					<h4 class="light">&nbsp;</h4>
				</div>
			</div>
			<div class="list card">
					<div class="item item-divider"><strong>{{ item.name.replace('http://salasarbalaji.org/public/', '') }}
					</strong></div>
					<div class="item"><span class="subdued" >Price{{products.price}}</span></div>
					<div class="item item-text-wrap noborder to_trusted" ng-bind-html="products.description | strHTML"></div>
					<!-- <div class="item item-divider"  ng-bind-html="products.meta_title | to_trusted">{{products.meta_title}}</div> -->
					<!-- <div class="item"><span class="subdued" >Buy Now{{products.buy}}</span></div> -->
					<div class="item"><span class="subdued" >Quantity : 1</span></div>
			</div>
			<div class="list">
				<div class="item tabs tabs-secondary tabs-icon-left tabs-stable">
					<a class="button button-full button-assertive" ng-href="#/salasar/products_cart" style="opacity: 1.0"><i class="icon ion-android-cart"></i> View Cart</a>
					<a class="button button-full button-positive" ng-click="addToDbVirtual(products);" style="opacity: 1.0"><i class="icon ion-bag"></i> Add To Cart</a>
				</div>
			</div>
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
