	<ion-view view-title="Salasar Balaji" hide-nav-bar="false">
		<!-- content -->
	<ion-content delegate-handle="top" lazy-scroll  id="page-home" class="home page-home">
	<div class="slide-box-hero" style="height:100%">
		<ion-slide-box class="slide-box-hero-content" does-continue="true" 
                     show-pager='true'
                     slide-interval="3000"
                     auto-play="true" options="{slidesPerView:1}" slider="data.slider">
            <ion-slide>
				<img ng-src="data/images/background/screen4.jpg" class="" />
			</ion-slide>
			<ion-slide>
				<img ng-src="data/images/background/screen1.jpg" class="" />
			</ion-slide>
			<ion-slide>
				<img ng-src="data/images/background/screen2.jpg" class="" />
			</ion-slide>
			<ion-slide>
				<img ng-src="data/images/background/screen3.jpg" class="" />
			</ion-slide>
		</ion-slide-box>
	
		<div class="row" style="position: absolute; z-index: 99999;bottom: 0">
			<a class="col-33 button button-outline button-positive" style="border-color: #fff;
    background: transparent;color: #fff;padding: 3px;"  ng-href="#/salasar/live_darshan" >
					
			<p>Daily Darshan</p>
			</a>

			<a class="col-33 button button-outline button-positive" style="border-color: #fff;
    background: transparent;color: #fff;padding: 3px;"  ng-href="#/salasar/mantra_jap" >
					
			<p>Mantra Jaap</p>
			</a>

			<a class="col-33 button button-outline button-positive" style="border-color: #fff;
    background: transparent;color: #fff;padding: 3px;"  ng-href="#/salasar/albums" >
					
			<p>Gallery</p>
			</a>
		</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
