	<ion-view view-title="Hotel Category" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll scroll="true"   id="page-hotel_cats" class=" page-hotel_cats">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			
			<!-- code listing -->
			<div class="list animate-fade-slide-in">
				<div class="item-thumbnail-3 card" ng-repeat="item in hotel_categoriess | filter:filter_hotel_categoriess as results" ng-init="$last ? fireEvent() : null"><a class="item item-energized-900 item-thumbnail-left item-text-wrap"  href="#/salasar/hotels/{{item.id}}">
					<img alt="" class="full-image" image-lazy-loader="lines" ng-src="{{item.image}}"   />
					<h3 class=""  ng-bind-html="item.name | to_trusted"></h3>
						<p ng-bind-html="item.description | to_trusted"></p>
				<!-- <i class="icon ion-android-more-horizontal pull-right"></i> -->
				</a></div>
			</div>
			<!-- ./code listing -->


			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>No results found...!</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
