	<ion-view view-title="Tour" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-tour" class=" page-tour">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			<div class="slide-box-hero">
			<ion-slides class="slide-box-hero-content" options="{slidesPerView:1}">
			<ion-slide-page>
				<img ng-src="data/images/background/tour.jpg" />
			</ion-slide-page>
		    </ion-slides>
			</div>

			<!-- code search -->
			<ion-list class="list" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_packagess" placeholder="Search" aria-label="filter packagess" />
				</div>
			</ion-list>
			<!-- ./code search -->


			<!-- code listing -->
			<div class="list animate-fade-slide-in-right">
				<div class="item-thumbnail-3 card" ng-repeat="item in packagess | filter:filter_packagess as results" ng-init="$last ? fireEvent() : null"><a class="item item-light item-thumbnail-left item-text-wrap"  href="#/salasar/packages_singles/{{item.id}}">
					<img alt="" class="full-image " image-lazy-loader="lines" src="{{item.image1}}"   />
					<h3 class=""  ng-bind-html="item.title | to_trusted"></h3>
						<p >
						Price : {{item.price}} Rs/-
						</p>
					<div class="to_trusted" ng-bind-html="item.description | limitTo:50 | to_trusted"></div>
				
				</a></div>
			</div>
			<!-- ./code listing -->


			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>No results found...!</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
