	<ion-view view-title="Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class=" page-dashboard">
		
		<div class="dashboard-panel">
			<!-- row -->
			<div class="row">
				<a class="col-33 light positive-bg ink"  ng-href="#/salasar/home" >
					<i class="icon ion-ios-home" ></i>
					<p>Home</p>
				</a>
				<a class="col-33 light positive-900-bg ink"  ng-href="#/salasar/cabs" >
					<i class="icon ion-android-car" ></i>
					<p>Cabs</p>
				</a>
				<a class="col-33 light calm-bg ink"  ng-href="#/salasar/hotel_cats/hotel_categories" >
					<i class="icon ion-android-restaurant" ></i>
					<p>Hotels</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light calm-900-bg ink"  ng-href="#/salasar/shopping" >
					<i class="icon ion-bag" ></i>
					<p>Shopping</p>
				</a>
				<a class="col-33 light balanced-bg ink"  ng-href="#/salasar/profile" >
					<i class="icon ion-android-contact" ></i>
					<p>My Profile</p>
				</a>
				<a class="col-33 light balanced-900-bg ink"  ng-href="#/salasar/albums" >
					<i class="icon ion-images" ></i>
					<p>Gallery</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light energized-bg ink"  ng-href="#/salasar/live_darshan" >
					<i class="icon ion-social-youtube" ></i>
					<p>Live Darshan</p>
				</a>
				<a class="col-33 light energized-900-bg ink"  ng-href="#/salasar/road_map" >
					<i class="icon ion-android-pin" ></i>
					<p>Road Map</p>
				</a>
				<a class="col-33 light assertive-bg ink"  ng-href="#/salasar/contact_us" >
					<i class="icon ion-android-star-half" ></i>
					<p>Feedback</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light assertive-900-bg ink" ng-click="openURL('market://details?id=com.imabuilder.drpinfosoft.salasar')" >
					<i class="icon ion-android-playstore" ></i>
					<p>Rate This App</p>
				</a>
				<a class="col-33 light royal-bg ink" ng-click="openURL('market://details?id=com.imabuilder.drpinfosoft.salasar')" >
					<i class="icon ion-android-download" ></i>
					<p>Update App</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
