	<ion-view view-title="Share App" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-share_app" class="page-share_app">
		
<div class="padding">
  <div >
    <h4>Share App</h4>
    <p>It's Work<br/>You can create a table or edit this page</p>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
