	<ion-view view-title="Login" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll header-shrink="true" scroll-event-interval="5"   id="page-form_login" class="has-header page-form_login">
		<div class="hero no-header flat" >
    <div class="content">
        <div class="app-icon" style="background: url('data/images/icon/welcome_logo-Bazaar.png') center; border-radius: 0"></div>
        
    </div>
</div>

<div class="list">
    <ion-md-input autocomplete="off" placeholder="Email address" highlight-color="balanced" type="text" ng-model="form_user.uname"></ion-md-input>
    <ion-md-input autocomplete="off" placeholder="Password" highlight-color="energized" type="password" ng-model="form_user.pwd"></ion-md-input>
</div>

<div class="padding">
    <button ng-click="submitUser(form_user)" class="button button-full button-assertive ink">Sign In</button>
    <a ui-sref="salasar.form_user" class="button button-full button-calm ink">Sign Up Here</a>
</div>


		</ion-content>
		<!-- ./content -->
	</ion-view>
