	<ion-view view-title="Shopping Cart" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-cabs_cart" class="page-cabs_cart">
		
<!-- shopping cart -->
	<div ng-if="cabs_cart.length != 0">
		<!-- items -->
		<div class="list" ng-init="cabs_order={}" >
			<div class="card" ng-repeat="item in cabs_cart" ng-init="cabs_order[$index]=item">
				<div class="item item-thumbnail-left item-button-right noborder">
					<img ng-src="{{ item.image }}" />
					<h2 class="" ng-bind-html="item.name | to_trusted"></h2>
					<span>{{ item._sum | currency:"Rs":2 }}</span>
					<input type="number" min="1" ng-change="updateDbVirtual()" ng-model="cabs_order[$index]['_qty']" />
					<button class="button button-small button-assertive button-outline" ng-click="removeDbVirtualCabs(item.id)"><i class="icon ion-trash-a"></i></button>
				</div>
			</div>
		</div>
		<!-- ./items -->

		<!-- totals -->
		<div class="list">
			<div class="item text-right">
				<h2>{{ cabs_cost | currency:"Rs":2 }}</h2>
				<p>Go to Checkout to Pay</p>
			</div>
		</div>
		<!-- ./totals -->

		<!-- buttons -->
		<div class="list">
			<div class="item tabs tabs-secondary tabs-icon-top tabs-stable">
				<a class="tab-item" ng-click="clearDbVirtualCabs();"><i class="icon ion-trash-a"></i> Clear</a>
				<a class="tab-item" ng-click="gotoCheckout()"><i class="icon ion-cash"></i> Checkout</a>
			</div>
		</div>
		<!-- ./buttons -->
	</div>
<!-- ./shopping cart -->


<!-- no items -->
	<div class="cabs_cart padding text-center" ng-if="cabs_cart.length == 0">
		<i class="icon ion-ios-cart-outline"></i>
		<p>There are no items in your cart</p>
	</div>
<!-- ./no items -->

		</ion-content>
		<!-- ./content -->
	</ion-view>
