	<ion-view view-title="{{ articles.title }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-articles_singles" class="page-articles_singles">
		
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="list ">
					<div class="item item-divider"  ng-bind-html="articles.title | to_trusted">{{articles.title}}</div>
					<div class="item item-text-wrap noborder to_trusted" ng-bind-html="articles.content | strHTML"></div>
					<div class="item noborder"><img class="full-image" image-lazy-loader="lines" image-lazy-src="{{articles.image}}"   zoom-view="true" zoom-src="{{articles.image}}"/></div>
			</div>
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
