	<ion-view view-title="Verify Mobile OTP" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll header-shrink="true" scroll-event-interval="5"   id="page-verify_otp" class="has-header page-verify_otp">
		<div class="hero no-header flat" >
    <div class="content">
        <div class="app-icon" style="background: url('data/images/icon/welcome_logo-Bazaar.png') center; border-radius: 0"></div>
        
    </div>
</div>

<div class="list">
    <ion-md-input autocomplete="off" placeholder="Enter OTP" highlight-color="balanced" type="number" ng-model="form_user.otp"></ion-md-input>
    <ion-md-input autocomplete="off" highlight-color="balanced" type="hidden" ng-model="form_user.otp_token" ng-value="form_user.otp_token" ></ion-md-input>
    <ion-md-input autocomplete="off" highlight-color="balanced" type="hidden" ng-model="form_user.email" ng-value="form_user.email" ></ion-md-input>

</div>

<div class="padding">

    <button ng-click="verifyotp(form_user)" class="button button-full button-assertive ink">Verify OTP</button>
    <a ui-sref="salasar.form_otp" class="button button-full button-calm ink">Resend OTP</a>
</div>


		</ion-content>
		<!-- ./content -->
	</ion-view>
