	<ion-view view-title="Home" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-membership" class="page-membership">
		
<div class="padding">
  <div >
    <h4>Home</h4>
    <p>It's Work<br/>You can create a table or edit this page</p>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
