    <ion-view view-title="User Register" hide-nav-bar="false" >
        <!-- content -->
        <ion-content delegate-handle="top" lazy-scroll  id="page-form_user_register" class=" page-form_user_register">
        
            <div class="list"><br/><br/>
    <ion-md-input placeholder="Full Name" highlight-color="assertive" type="text" ng-model="form_user.name"></ion-md-input>
 <ion-md-input placeholder="Email Address" highlight-color="assertive" type="email" ng-model="form_user.email"></ion-md-input>
    <ion-md-input placeholder="Password" highlight-color="assertive" type="password" ng-model="form_user.password"></ion-md-input>
  <ion-md-input placeholder="Mobile Number" highlight-color="assertive" type="number" ng-model="form_user.mobile"></ion-md-input>
    <ion-md-input placeholder="Address" highlight-color="assertive" type="text" ng-model="form_user.address"></ion-md-input>
    <ion-md-input placeholder="Pincode" highlight-color="assertive" type="text" ng-model="form_user.postcode"></ion-md-input>
   
</div> 
  
<div class="padding">
    <button ng-click="submitUser()" class="button button-full button-assertive ink">Sign Up</button>
    <a class="button button-full button-calm ink" ui-sref="salasar.form_login">Sign In Here</a>
</div>




        </ion-content>
        <!-- ./content -->
    </ion-view>
