  <ion-view view-title="Profile" hide-nav-bar="false" >
    <!-- content -->
    <ion-content delegate-handle="top" lazy-scroll  id="page-profile" class="has-header page-profile">    
<div class="card list">
      <center><i class="icon ion-android-contact" style="font-size: 55px"></i></center>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Full Name</span>
    <input type="text" ng-model="current_user.name" ng-value="current_user.name">
  </label>
  
   <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="email" ng-model="current_user.email" ng-value="current_user.email" readonly="readonly">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Mobile</span>
    <input type="text" ng-model="current_user.mobile" ng-value="current_user.mobile">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Address</span>
    <input type="text" ng-model="current_user.address1" ng-value="current_user.address1">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Pincode</span>
    <input type="text" ng-model="current_user.postcode" ng-value="current_user.postcode">
  </label>

    <div class="padding">
        <button ng-click="updateUser()" class="button button-assertive ink"> <i class="icon ion-person" ></i> Update</button>

        <button ng-click="logoutUser()" class="button button-assertive ink"> <i class="icon ion-log-out" ></i> Logout</button>
    </div>

        
</div>

        </ion-content>
    <!-- ./content -->
  </ion-view>
