	<ion-view view-title="Feedback" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-co" class="page-co">
		
<div class="padding">
  <div >
    <h4>Feedback</h4>
    <p>It's Work<br/>You can create a table or edit this page</p>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
