	<ion-view view-title="Menu" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-slide_tab_menu" class=" page-slide_tab_menu">
		
	<div style="width: 100%;height:100%;">
		<ion-slide-box class="ion-slide-tabs" slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
			<ion-slide ion-slide-tab-label="Cabs" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-href="#/salasar/gallery/1" >
								<i class="icon ion-images" ></i>
								<h2>Gallery</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/salasar/form_contact_us" >
								<i class="icon ion-android-map" ></i>
								<h2>Contact</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/salasar/share_app" >
								<i class="icon ion-android-share-alt" ></i>
								<h2>Share App</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('market://details?id=com.imabuilder.drpinfosoft.salasar')" >
								<i class="icon ion-android-playstore" ></i>
								<h2>Rate This App</h2>
								<span class="item-note pull-left"></span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
		</ion-slide-box>
	</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
