<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar ng-show="$root.headerExists" id="navbar-right-top" class="page-title bar-energized-900">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="fabButtonUp"></ion-nav-view>
		<ion-nav-view name="salasar-side_menus"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-header-bar class="text-center expanded energized-900-bg">
			<img ng-src="{{ appLogo | trustUrl }}" class="avatar motion spin" style="border-radius:0px" />
			<div class="menu-bottom"><span>{{ usersession }}</span><br/></div>
		</ion-header-bar>
		<ion-content class="has-expanded-header energized-900-bg light">


 <ion-row>
    <ion-col col-6><ion-icon name="heart"></ion-icon></ion-col>
    <ion-col col-6><ion-icon name="heart"></ion-icon></ion-col>
  </ion-row>
  <ion-row>
    			<ion-col col-6>
					<ion-icon name="heart"></ion-icon>
				</ion-col>
				<ion-col col-6>
					<ion-icon name="heart"></ion-icon>
				</ion-col>
  </ion-row>

  			
			<div class="row sidemenu">
				<a class="col-50 light ink" ng-href="#/salasar/home" nav-clear="" menu-close="">
					<i class="icon ion-ios-home"></i>
					<p>Home</p>
				</a>
				<a class="col-50-last light ink"  ng-href="#/salasar/about_us" nav-clear="" menu-close="">
					<i class="icon ion-flag" ></i>
					<p>About Salasar</p>
				</a>
			</div>
			<div class="row-break"></div>

			<div class="row sidemenu">
				<a class="col-50 light ink"  ng-href="#/salasar/live_darshan" nav-clear="" menu-close="">
					<i class="icon ion-social-youtube"></i>
					<p>Daily Darshan</p>
				</a>
			<a class="col-50-last light ink"  ng-href="#/salasar/albums" nav-clear="" menu-close="">
					<i class="icon ion-images" ></i>
					<p>Photo Album</p>
				</a>
			</div>
			<div class="row-break"></div>

			<div class="row sidemenu">
				<a class="col-50 light ink"  ng-href="#/salasar/hotel_cats" nav-clear="" menu-close="">
					<i class="icon ion-android-restaurant" ></i>
					<p>Hotels</p>
				</a>
				<a class="col-50-last light ink"  ng-href="#/salasar/shopping" nav-clear="" menu-close="">
					<i class="icon ion-bag" ></i>
					<p>eShopping</p>
				</a>
			</div>
			<div class="row-break"></div>
			<div class="row sidemenu">
				<a class="col-50 light ink"  ng-href="#/salasar/road_map" nav-clear="" menu-close="">
					<i class="icon ion-location" ></i>
					<p>Road Map</p>
				</a>
				<a class="col-50-last light ink"  ng-href="#/salasar/cabs" nav-clear="" menu-close="">
					<i class="icon ion-android-car" ></i>
					<p>Cab Service</p>
				</a>
			</div>

			<div class="row-break"></div>
			<div class="row sidemenu">
				<a class="col-50 light ink"  ng-href="#/salasar/tour" nav-clear="" menu-close="">
					<i class="icon ion-plane" ></i>
					<p>Tours</p>
				</a>

				<a class="col-50-last light ink" run-webview ng-href="http://salasarbalaji.org/mbook-panditji/1/panditji" target="_self"  nav-clear="" menu-close="">
					<i class="icon ion-bonfire" ></i>
					<p>Pandit Book</p>
				</a>
			</div>
			<div class="row-break"></div>
			<div class="row sidemenu">
				<a class="col-50 light ink"  ng-href="#/salasar/products/6" nav-clear="" menu-close="">
					<img src="data/images/icon/kanji-vadas.png" style="width: 44px;height: 44px">
					<p>Book Prasad</p>
				</a>
				<a class="col-50-last light ink" ng-click="openURL('market://details?id=com.drpinfosoft.salasarbalaji')"  nav-clear="" menu-close="">
					<i class="icon ion-android-playstore"></i>
					<p>Rate on App</p>
				</a>
				
			</div>
			<div class="row-break"></div>

			<div class="row sidemenu">
				
				<a class="col-50 light ink"  ng-href="#/salasar/daily_schedule" nav-clear="" menu-close="">
					<i class="icon ion-clock" ></i>
					<p>Daily Schedule</p>
				</a>
				<a class="col-50-last light ink"  ng-href="#/salasar/profile" nav-clear="" menu-close="">
					<i class="icon ion-android-contact" ></i>
					<p>User Profile</p>
				</a>
			</div>
			<div class="row-break"></div>
			
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
