	<ion-view view-title="About Us" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-about_us" class="padding page-about_us">
		
<div class="text-center">
    <img class="avatar relative" ng-src="data/images/icon/welcome_logo-Bazaar.png" style="border-radius:0px" />
    <p>Salasar Balaji</p>
</div>
<br/>

<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">भारतीय संस्कृति में मानव जीवन के लक्ष्य भौतिक सुख तथा आध्यात्मिक आनंद की प्राप्ति के लिए अनेक देवी देवताओं की पूजा का विधान है जिनमें पंचदेव प्रमुख हैं। पंच देवों का तेज पुंज श्री हनुमान जी हैं।</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">प्राचीन ग्रन्थों में वर्णित सात करोड़ मन्त्रों में श्री हनुमान जी की पूजा का विशेष उल्लेख है। श्री राम भक्तए रूद्र अवतारए सूर्य.शिष्यए वायु.पुत्रए केसरी.नन्दनए महाबलए श्री बालाजी के नाम से प्रसिद्ध तथा माता अन्जनी के गर्भ से प्रकट हनुमान जी में पांच देवताओं का तेज समाहित हैं।</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">हनुमान जी पूरे भारतवर्ष में पूजे जाते हैं और जन.जन के आराध्य देव हैं। बिना भेदभाव के सभी हनुमान अर्चना के अधिकारी हैं। अतुलनीय बलशाली होने के फलस्वरूप इन्हें बालाजी की संज्ञा दी गई है। देश के प्रत्येक क्षेत्र में हनुमान जी की पूजा की अलग परम्परा है। वीर.भूमि राजस्थान में ष्बाबाष् या बालाजी के नाम से विख्यात हनुमान जी के अनेक प्रसिद्ध मन्दिर हैं जिनमें सालासर के चमत्कारी श्री बालाजी मन्दिर का विशेष महत्व है।</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">सालासर राजस्थान प्रान्त के चुरू जिले की सुजानगढ़ तहसील में स्थित है। सुजानगढ़ से लगभग 25 किलोमीटर दूर मरूस्थल कटीलों के बीच सालासर का परम.पावन क्षेत्र स्थित है। सालासर के कण.कण में श्री बालाजी विद्यमान हैं। श्री बालाजी मन्दिर सालासरए राजस्थानी शैली में निर्मित एक भव्य एवं विशाल मन्दिर है।</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">सालासर में स्थापित सिद्धपीठ बालाजी की प्रतिमा आसोटा गांव के एक खेत में प्रकट हुई थी। बालाजी के परम भक्त मोहनदास जी को हल चलाते समय इस प्रतिमा के प्रथम दर्शन हुए थे। तत्पश्चात भक्त श्री मोहनदास द्वाराए श्री बालाजी महाराज की दिव्य प्रेरणा सेए आज से लगभग 253 वर्ष पूर्वए विक्रमी सम्वत् 1811 ;इघ् सन 1754द्ध श्रावन शुक्ल नवमीए शानिवार को श्री बालाजी के श्रीविग्रह की प्रतिष्ठा सालासर के परम पावन क्षेत्र में हुई। भक्त मोहनदास जी एवं उनकी बहन कान्ही बाई ने अनन्य भक्ति भाव से बालाजी की सेवा अर्चना की और बालाजी के साक्षात् दर्शन प्राप्त किए। कहते हैं कि श्री बालाजी एवं मोहनदास जी आपस में वार्तालाप करते थे।</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">मन्दिर में श्री बालाजी की भव्य प्रतिमा सोने के सिंहासन पर विराजमान है। इसके ऊपरी भाग में श्री राम दरबार है तथा निचले भाग में श्री राम चरणों में दाढ़ी.मूंछ से सुशोभित हनुमान जी श्री बालाजी के रूप में विराजमान हैं। मुख्य प्रतिमा शालिग्राम पत्थर की है जिसे गेरूए रंग और सोने से सजाया गया है। बालाजी का यह रूप अद्भुतए आकर्षक एवं प्रभावशाली हैं। प्रतिमा के चारों तरफ सोने से सजावट की गई हैं और सोने का रत्न जडि़त भव्य मुकुट चढ़ाया गया है। प्रतिमा पर लगभग 5 किलोग्राम सोने से निर्मित स्वर्ण छत्र भी सुशोभित है।</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">प्रतिष्ठा के समय से ही मन्दिर के अंदर अखण्ड दीप प्रज्वलित हैं। मन्दिर परिसर के अन्दर प्राचीन कुएं का लवण मुक्त जल आरोग्यवर्धक है। श्रद्धालुए यहां स्नान कर अनेक रोगों से छुटकारा पाते हैं। मन्दिर के अन्दर स्थित प्राचीण धूणां आज भी जल रहा है। शुरू में जाटी वृक्ष के पास एक छोटा सा मन्दिर था। श्री बालाजी महाराज की अनुकम्पा से आज यहां विशाल स्वर्ण निर्मित मन्दिर है। जांटी का वृक्ष आज भी मौजूद हैं जिस पर भक्तजन नारियल एवं ध्वजा चढ़ाते हैं तथा लाल धागे बांधकर मन्नत मांगते हैं। मन्दिर के ऊपर स्थापित भारतीय संस्कृति की झलक देने वाली लाल ध्वजाएं अनवरत रूप से लहराती रहती हैं। श्री बालाजी मन्दिर से पहले लगभग 1 किलोमीटर की दूरी पर श्री अंजनी माता का मन्दिर है। अंजनी माता का यह मंदिर भव्य एवं प्रतिमा स्वर्ग निर्मित हैं। मन्दिर की शोभा भव्य एवं वातावरण सात्विक है। सालासर आने वाले सभी भक्जतन सबसे पहले श्री अंजनी माता मन्दिर में पूजा.अर्चना करते हैं और प्रसाद चढ़ाते हैं। तत्पश्चात भक्तजन श्री बालाजी मन्दिर की तरफ प्रस्थान करते हैं। कुछ विशिष्ट भक्तजन पेट के बल चलते हुए मन्दिर तक पहुंचते हैं। पैदल चलकर आने वाले यात्री हाथों में लाल घ्वजा लेकर चलते हैं।</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">श्री बालाजी की दैनिक परम्परागत भोग तथा पूजा.अर्चना भक्त श्री मोहनदास जी के वशंजों द्वारा की जाती है। बालाजी के भोग में प्रायरू चूरमाए लड्डूए पेड़ेए मिश्री.मेवा आदि चढ़ाए जाते हैं। परम्परागत रोट और खिचड़ा भी श्री बालाजी के भोग में सम्मिलित हैं। श्री बालाजी महाराज की कथा.पाठए जप तथा कीर्तन आदि यहां निरन्तर चलते रहते हैं। श्री बालाजी महाराज की कृपा से भक्तजनों की मनोकामनाओं की पूर्ति के उपरांत यहां जात.जडुलेए ध्वजा नारियल तथा छत्र आदि भेंट किए जाते हैं। कुछ श्रद्धावान भक्त सवामणीए भण्डारा आदि अर्पित करते हैं। सवामणी का प्रचलन यहां सबसे ज्यादा है।</p>
<p style="box-sizing: border-box; font-size: 16px; margin: 0px 0px 12px; padding: 0px; text-align: justify; font-family: latoregular;">देश.विदेश से भक्तगण श्री बालाजी के दर्शनार्थ सालासर आते हैं। मंगलवार तथा शानिवार के दिन यहां श्रद्धालुओं की संख्या अधिक होती है। चैत्र मास अप्रैल और आश्विन मास अक्टूबर की पूर्णिमाओं पर यहां विशाल मेला लगता है जो काफी दिनों तक चलता है। इस अवसर पर श्रद्धालुओं की संख्या लाखों में होती हैं। पैदल चलकर भी लाखों श्रद्धालु आते है। राजस्थान के अलावा पंजाबए हरियाणाए दिल्ली सहित पूरे भारतवर्ष से श्रद्धालु यहां पहुंचते हैं।</p>


		</ion-content>
		<!-- ./content -->
	</ion-view>
