	<ion-view view-title="Facility" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-facility" class=" page-facility">
		<div class="card">
  <div class="item item-text-wrap">
    <h2>Bhojanalyas & Refreshment Units Near Salasar</h2><br/>

<p>After Darshan at SALASAR BALAJI, if you are looking for a place to have breakfast,lunch or dinner then here is a list of bhojnalyas available in the vicinity of Temple that are easily accessible and have good, hygienic and family environment. Also these restaurants offer wide variety of food items at very affordable prices with quick service.Here is the list of bhojnalayas near Salasar balaji</p>
<ul><li>1. Shreee Balaji Bhojanalya - Purvi gate ke samne</li>
<li>2. Anjanee Bhojanalya - Purvi gate ke samne</li>
<li>3. Mahaveer Bhojanalya</li>
<li>4. Choki restaurant</li>
  <li>5. GHB hotel and restaurant</li></ul>
  </div>
 <div class="item item-text-wrap">
 <hr/><br/>
 <h2>Security Arrangements Near Salasar Balaji</h2><br/>

<p>1. On visit to SALASAR BALAJI massive people come along with their valuable belongings, therefore security is a major concern. Hence, the committee has taken various strict measures to keep you and your stuff secure. There are over 220 Security cameras installed in the entire Temple.</p>
<p>2. Also Private security guards are appointed to check each person and take care of public in case of any inconvenience.</p>
<p>3. Government has provided Armed Security Men so that incidents of theft or burglary do not take place</p>
  </div>
<div class="item item-text-wrap">
 <hr/><br/>
<h2>Medical Facilities Near Salasar Balaji</h2><br/>
<p>
In case of any medical emergency there are a few reputed hospitals near SALASAR BALAJI which are well-led, safe, effective and responsive to people’s need. Here patients get better medical care and healing environment. Open for 24 hours with professional, enthusiastic and friendly medical staff. The list is as follows:-</p>
<p>1.Government Hospital</p>
<p>2. Shrijan Hospital, etc.</p>
<p>3.108 emergency medical facilities available</p>
</div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
