	<ion-view view-title="Mobile OTP" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll header-shrink="true" scroll-event-interval="5"   id="page-form_otp" class="has-header page-form_otp">
		<div class="hero no-header flat" >
    <div class="content">
        <div class="app-icon" style="background: url('data/images/icon/welcome_logo-Bazaar.png') center; border-radius: 0"></div>
        
    </div>
</div>

<div class="list">
    <ion-md-input autocomplete="off" placeholder="Enter Mobile" highlight-color="balanced" type="number" ng-model="form_user.mobile"></ion-md-input>
</div>

<div class="padding">

    <button ng-click="submitotp(form_user)" class="button button-full button-assertive ink">Send OTP</button>
    <a ui-sref="salasar.form_login" class="button button-full button-calm ink">Sign In</a>
</div>


		</ion-content>
		<!-- ./content -->
	</ion-view>
