	<ion-view view-title="Book Pandit" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-form_book_pandit" class="has-header page-form_book_pandit">
		
		<div class="list list"  >
			<form ng-submit="submitBook_pandit()">

			<!-- input firstname -->
			<label class="item item-input item-floating-label">
				<span class="input-label">Name</span>
				<input type="text" ng-model="form_book_pandit.firstname" name="firstname" placeholder="Enter Name" ng-required="true"/>
			</label>
			<!-- ./input firstname -->

			<!-- input amount -->
			 <input type="date" ng-value="5001" ng-init="form_book_pandit.amount='5001'" ng-model="form_book_pandit.amount" name="amount" />
			<!-- ./input amount -->

			<!-- input email -->
			<label class="item item-input item-floating-label">
				<span class="input-label">Email</span>
				<input type="email" ng-model="form_book_pandit.email" name="email" placeholder="Enter Email" ng-required="true"/>
			</label>
			<!-- ./input email -->

			<!-- input phone -->
			<label class="item item-input item-floating-label">
				<span class="input-label">Mobile</span>
				<input type="number" ng-model="form_book_pandit.phone" name="phone" placeholder="Enter Mobile" ng-required="true"/>
			</label>
			<!-- ./input phone -->

			<!-- input city -->
			<label class="item item-input item-floating-label">
				<span class="input-label">City</span>
				<input type="text" ng-model="form_book_pandit.city" name="city" placeholder="Enter City" ng-required="true"/>
			</label>
			<!-- ./input city -->

			<!-- input address1 -->
			<label class="item item-input item-floating-label">
				<span class="input-label">Address</span>
				<input type="text" ng-model="form_book_pandit.address1" name="address1" placeholder="Enter Street Address" ng-required="true"/>
			</label>
			<!-- ./input address1 -->

			<!-- input productinfo -->
			<label class="item item-input item-select noborder" ng-init="form_book_pandit.productinfo='Birthday Pooja'">
				<span class="input-label">Puja Type</span>
				<select ng-model="form_book_pandit.productinfo" name="productinfo" >
					<option value="Birthday Pooja">Birthday Pooja</option>
					<option value="Grah Pooja">Grah Pooja</option>
					<option value="Vyaparik Anushthan Pooja">Vyaparik Anushthan Pooja</option>
					<option value="Pooja Samagree">Pooja Samagree</option>
					<option value="Assist pooja at mandir">Assist pooja at mandir</option>
					<option value="Pooja On call">Pooja On call</option>
					<option value="Pooja at home">Pooja at home</option>
				</select>
			</label>
			<!-- ./input productinfo -->

			<!-- input puja_location -->
			<label class="item item-input item-select noborder" ng-init="form_book_pandit.puja_location='On Call'">
				<span class="input-label">Location</span>
				<select ng-model="form_book_pandit.puja_location" name="puja_location" >
					<option value="On Call">On Call</option>
					<option value="At Home">At Home</option>
					<option value="On Temple">On Temple</option>
					<option value=" Other Place"> Other Place</option>
				</select>
			</label>
			<!-- ./input puja_location -->

			<!-- input payment_category -->
			<input type="hidden" ng-value="Pandit" ng-init="form_book_pandit.payment_category='Pandit'" ng-model="form_book_pandit.payment_category" name="payment_category" />
			<!-- ./input payment_category -->

			<!-- input order_status -->
			<input type="hidden" ng-value="ordered" ng-init="form_book_pandit.order_status='ordered'" ng-model="form_book_pandit.order_status" name="order_status" />
			<!-- ./input order_status -->

			<!-- input submit -->
			<div class="padding">
    
    			<button class="button button-full button-assertive ink" >Book Pandit Ji</button>
			</div>
			<!-- ./input submit -->
			</form>
		</div>
		<br/><br/><br/><br/>
		</ion-content>
		<!-- ./content -->
	</ion-view>
