	<ion-view view-title="Shopping Cart" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-products_cart" class="page-products_cart">
		
<!-- shopping cart -->
	<div ng-if="products_cart.length != 0">
		<!-- items -->
		<div class="list" ng-init="products_order={}" >
			<div class="card" ng-repeat="item in products_cart" ng-init="products_order[$index]=item" >
				<div class="item item-thumbnail-left item-button-right noborder" ng-init="products_id[$index]=item.id">
					<img ng-src="{{ item.image }}" />
					<h2 class="" ng-bind-html="item.name | to_trusted"></h2>
					<span>{{ item._sum | currency:"Rs":2 }}</span>
					<input type="number" min="1" ng-change="updateDbVirtual()" ng-model="products_order[$index]['_qty']" />
					<button class="button button-small button-assertive button-outline" ng-click="removeDbVirtualProducts(item.id)"><i class="icon ion-trash-a"></i></button>
				</div>
			</div>
		</div>
		<!-- ./items -->

		<!-- totals -->
		<div class="list">
				
			<div class="item text-right">
				<h4>Shipping Charge:  50 Rs/- </h4>
				<h4>Sub Total: {{ products_cost }} Rs/-</h4>
				<h2>Total Payment: {{ products_cost+50 | currency:"Rs":2 }}</h2>
				
			</div>
		</div>
		<!-- ./totals -->


		<!-- buttons -->
			
		<div class="list">
			<div class="item tabs tabs-secondary tabs-icon-left tabs-stable">
				<a class="button button-full button-positive" style="opacity: 1.0;width: 50%;" run-webview ng-href="http://salasarbalaji.org/mpayment?id0={{ allid }}" target="_self"><i class="icon ion-cash"></i>  Pay Now</a>

				<a class="button button-full button-assertive" style="opacity: 1.0;width: 50%;" ng-click="clearDbVirtualProducts();"><i class="icon ion-trash-a"></i> Clear</a>

				

			</div>
		</div>
		<!-- ./buttons -->
	</div>
<!-- ./shopping cart -->


<!-- no items -->
	<div class="products_cart padding text-center" ng-if="products_cart.length == 0">
		<i class="icon ion-ios-cart-outline"></i>
		<p>There are no items in your cart</p>
	</div>
<!-- ./no items -->

		</ion-content>
		<!-- ./content -->
	</ion-view>

