	<ion-view view-title="Daily Darshan" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll scroll="true"   id="page-live_darshan" class=" page-live_darshan">
					<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			
           
			<!-- code listing -->
			<div class="list row" style="height:100%">
				<div class="col card" >
					
					<a class="item item-image ink" ng-href="#">
						<img alt="" class="ratio1x1" image-lazy-loader="lines" image-lazy-src="{{chunked_livedarshans.image}}" style="height:100%;background-size:cover;" />
					</a>

              <!-- <div class="item item-title button button-positive">Darshan Date: {{item.publish_date}} <br/>
               </div> --> 
        
			<div class="item item item-icon-left" ion-datetime-picker date time ng-model="form_user.publish_date" >

    		<i class="icon ion-ios-calendar-outline positive"></i>
    		<strong>{{ form_user.publish_date | date:'yyyy-MM-dd H:mm:ss' }}</strong>
    		</div><button ng-click="livedarshanbydate(form_user)" class="button button-assertive ink">Get</button>

             
           
					<div class="item item-text-wrap">
				<audio ng-src="{{ 'http://salasarbalaji.org/assets/music.mp3' | trustUrl }}" autoplay="true" loop="true">
					
				</audio>
                  
					</div>
				</div>
			</div>
			<!-- ./code listing -->
			



		</ion-content>
		<!-- ./content -->
	</ion-view>
