	<ion-view view-title="Products" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-products" class=" page-products">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code listing -->
			<div class="list row" ng-repeat="rows in chunked_productss | filter: first_param " >
				<div class="col card" ng-repeat="item in rows">
					<!-- <a class="item gallery ink button button-colorful" ng-href="#/salasar/products_singles/{{item.id}}">
						
					</a> -->
					<a class="item item-image ink" ng-href="#/salasar/products_singles/{{item.id}}">
						<img alt="" class="ratio1x1" image-lazy-loader="lines" image-lazy-src="{{item.image}}" />
					</a>
					<div class="item item-text-wrap" style="padding: 8px; text-align: center;">
						<strong>{{ item.name.replace('http://salasarbalaji.org/public/', '') }}
					</strong><br/>

					<!-- <div class="button-bar">
        <a class="ionic-button button-positive col-40" ng-click="addToDbVirtual(item);"><i class="icon ion-android-cart"></i></a>
        <a class="ionic-button button-assertive col-40" ng-href="#/salasar/products_singles/{{item.id}}"><i class="icon ion-eye"></i></a>
       
    		</div> -->

					<span style="text-align: center">{{item.price}} Rs/-</span>
					</div>
				</div>
			</div>
			<!-- ./code listing -->
			



		</ion-content>
		<!-- ./content -->
	</ion-view>
