	<ion-view view-title="Salasar Balaji Dham" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-road_map" class=" page-road_map">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<ion-list class="padding gmapmarker-search" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_road_maps" placeholder="Search" aria-label="filter road_maps" />
				</div>
			</ion-list>

			<ng-map draggable="true" class="gmapmarker-map" zoom="11" center="27.7283436,74.6545011" width="100%" height="100%" default-style="false">
				<marker ng-repeat="item in data_road_maps | filter:filter_road_maps as results" on-click="openModal($event)" position="{{item.location}}" clickable="true" id="{{item.id}}" ></marker>
			</ng-map>


			<script id="road_map-single.html" type="text/ng-template">
				<ion-modal-view>
					<ion-header-bar class="bar bar-header light bar-balanced-900">
						<div class="header-item title">{{ road_map.title | to_trusted }}</div>
						<div class="buttons buttons-right header-item"><span class="right-buttons"><button class="button button-icon button-clear ion-close ink-black" ng-click="modal.hide()"></button></span></div>
					</ion-header-bar>
					<ion-content>
					<div class="item item-divider"  ng-bind-html="road_map.title | to_trusted">{{road_map.title}}</div>
					<div class="item item-text-wrap noborder to_trusted" ng-bind-html="road_map.description | strHTML"></div>
					</ion-content>
				</ion-modal-view>
			</script>



		</ion-content>
		<!-- ./content -->
	</ion-view>
